<!DOCTYPE html>
<html>
  <head>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
  </head>
  <body>
    <h1>Stevens repository</h1>
    <h2>Student, Course, Grade and Instructor</h2>

    <table style="width:100%">
        <tr>
          <th>Student</th>
          <th>CWID</th> 
          <th>Course</th>
          <th>Grade</th>
          <th>Instructor</th>   
        </tr>
        
      {% for n in my_list %}
      <tr>
        <td>{{n[0]}}</td>
        <td>{{n[1]}}</td>
        <td>{{n[2]}}</td>
        <td>{{n[3]}}</td>
        <td>{{n[4]}}</td>
      </tr>
      {% endfor %}

    </table>
    
  </body>
</html>